<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Welcome on Geometry View</title>
</head>

<body>
  <h1>Hello in view (updated)</h1>
  {{ message }}

  {{#each coordinates}}
  <ul>
    <li>{{ this.[0]}}</li>
    <li>{{ this.[1]}}</li>
  </ul>

  {{/each}}

  <svg width="100%" height="900px">
    <rect width="100%" height="30%" fill="red" />

    {{#each coordinates}}
    <circle cx="{{this.[0]}}" cy="{{this.[1]}}" r="4" fill="yellow" stroke="black" />
    {{/each}}

    <circle cx="780" cy="30" r="10" fill="black" stroke="black" />
    <circle cx="480" cy="100" r="10" fill="pink" stroke="black" />
    <polygon points="{{polygonPoints}}" style="fill:white;stroke:black;stroke-width:1" />
  </svg>

</body>

</html>