<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Welcome on Geometry View</title>
</head>

<body>
  <h1>A page displaying svg</h1>
  {{ message }}

  <h2>Example with cities geojson points</h2>

  <p>This points are extracted from cities database table and display in svg.</p>

  <svg width="300px" height="150px">
    <rect width="100%" height="100%" fill="blue" />

    {{#each coordinates}}
    <circle cx="{{this.[0]}}" cy="{{this.[1]}}" r="4" fill="yellow" stroke="black" />
    {{/each}}
  </svg>

  <h2>A test for generating continents shapes</h2>
  <svg width="100%" height="300px">
    <rect width="90%" height="100%" fill="lightgrey" stroke="black" />
    <polygon points="{{polygonPoints}}" style="fill:white;stroke:black;stroke-width:1" />
  </svg>

  <h2>Render a polygon from postgis</h2>

  {{#each continentsPoints}}
  <svg width="100%" height="300px">
    <rect width="90%" height="100%" fill="lightgrey" stroke="black" />

    <polygon points="{{this}}" style="fill:white;stroke:black;stroke-width:1" />
  </svg>
  {{/each}}

</body>

</html>